* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-flow: column;
}

.navlist {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
}

.books-container {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 30px;
  padding: 0 20px 0 20px;
}

.book-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(8, 33, 41, 0.205);
  margin-bottom: 15px;
}

.book-genre {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
}

.book-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.book-author {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  color: #4386bf;
  margin: 10px 0 10px 0;
}

.delete-book {
  width: 100px;
  margin: auto;
  margin-top: 5px;
  outline: none;
  border: 1px solid rgba(14, 117, 148, 0.568);
  background: none;
  color: #4386bf;
}

svg {
  margin: auto;
}
