* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navBar {
  display: flex;
  flex-flow: row;
  height: 80px;
  align-items: center;
  padding-left: 30px;
  flex-wrap: wrap;
}

.navlist {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style-type: none;
  margin: auto;
}

.navlist > li {
  margin-right: 30px;
  font-size: 1.2em;
}

.navlist > li > a {
  text-decoration: none;
  color: rgba(71, 71, 71, 0.486);
}

.active-link {
  color: rgba(37, 38, 39, 0.808) !important;
}

.percent {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.books-container {
  display: flex;
  flex-flow: column;
  margin: auto;
  margin-top: 30px;
  padding: 0 20px 0 20px;
}

.book-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  border: 1px solid rgba(8, 33, 41, 0.205);
  margin-bottom: 15px;
}

.book-genre {
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
}

.book-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}

.book-author {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  color: #4386bf;
  margin: 10px 0 10px 0;
}

.delete-book {
  width: 50px;
  text-align: left;
  margin: auto;
  margin-top: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  color: #4386bf;
}

.buttons {
  display: flex;
  flex-flow: row;
  margin-top: 20px;
}

svg {
  margin: auto;
}

.add-book {
  text-align: center;
  margin: 20px auto 20px auto;
}

.main-title {
  color: #0290ff;
  font-weight: bold;
  font-size: 2em;
  margin: auto;
}

#form-add {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  width: auto;
  margin: auto;
}

#form-add > input {
  outline: none;
  border: 1px solid rgba(8, 33, 41, 0.205);
  margin-bottom: 20px;
  height: 20px;
  width: 60%;
}

.invisible {
  display: none;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.38);
  position: absolute;
  top: 0;
  left: 0;
}

.spinner {
  width: 100px;
  height: auto;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
}

#error-popup {
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  font-family: inherit;
  margin: auto;
  left: 0;
  right: 0;
  top: 30%;
  width: 400px;
  height: 60px;
  visibility: visible;
  opacity: 1;
  transition: all 2s;
  border-radius: 4%;
  text-align: center;
  line-height: 60px;
  z-index: 99;
  box-shadow: 5px 6px 1px rgba(0, 0, 0);
}

.red {
  background: red;
}

.green {
  background: green;
}

.fade {
  visibility: hidden !important;
  opacity: 0 !important;
}

.book-fp {
  display: flex;
  flex-flow: column;
  margin: 20px auto 20px auto;
  text-align: left;
}

.percentage {
  font-weight: bolder;
  font-size: 1.5em;
}

.percentage-text {
  font-weight: lighter;
  color: rgba(58, 58, 58, 0.562);
  display: block;
  margin-left: 20px;
}

.completion {
  display: flex;
  flex-flow: column;
  margin: 20px auto 20px auto;
  text-align: left;
}

.add-button {
  border-radius: 3px;
  background: rgba(21, 181, 230, 0.767);
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  width: 100px;
  margin: 5px auto 10px auto;
}

.chapter-title {
  font-size: 1em;
  color: rgba(80, 77, 77, 0.38);
  margin-bottom: 10px;
}

.chapter-number {
  font-weight: lighter;
  margin-bottom: 10px;
}

.chapter-button {
  border-radius: 3px;
  background: rgba(21, 181, 230, 0.767);
  color: #fff;
  outline: none;
  border: none;
  height: 30px;
  margin-bottom: 10px;
}

.form-add {
  display: flex;
  flex-flow: column;
}

#form-add > input,
#form-add > select {
  border: 1px solid rgba(170, 170, 170, 0.38);
  height: 40px;
  margin-right: 20px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .book-container {
    flex-flow: row;
  }

  .navBar {
    margin: 0;
  }

  .main-title,
  .navlist {
    margin: 0;
  }

  .navlist {
    margin-left: 50px;
  }

  svg {
    margin: 0;
    display: inline-block;
  }

  .percentage {
    display: inline-block;
  }

  .completion {
    margin: auto 10px auto 10px;
  }

  .book-fp {
    margin: 20px 0 20px 0;
  }

  .percent {
    flex-flow: row;
  }

  #form-add {
    flex-flow: row;
    width: 50%;
  }

  .add-button {
    height: 30px;
    width: 130px;
    margin: 5px auto 10px auto;
  }

  #form-add > select {
    width: 30%;
  }
}
